@charset "utf-8";
.logo {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 44px;




}
.choose {
	margin-left: 10px;
	position: relative;
	margin-right: 10px;
	left: 38%;
	float: left;
	margin-top: 39px;
}

.greenline  {
	background-color: #2CCBB5;
	height: 8px;
}
.coffee-bg {
	position: fixed;
	left: 0px;



}
#coffeetown {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	padding-top: 260px;
	padding-left: 92px;
	font-size: 66pt;
	font-style: italic;
	font-weight: bold;
}
#coffeetown:hover {
	color: #2CCBB5;
	font-size: 75pt;
	font-family: 'Lato', sans-serif;
	padding-top: 270px;
	padding-left: 92px;
	font-style: italic;
	font-weight: bold;
}

.bottontext {
	margin-top: 31px;
	font-size: 16pt;
	font-family: 'Lato', sans-serif;
	color: #2CCBB5;
	font-weight: bold;
	top: 64px;
	left: 103px;
}
#botton {
	padding-top: 80px;
	padding-left: 151px;
}
#botton .nav-link:hover {
	color: #F8A50D;
	font-family: 'Lato', sans-serif;
	font-size: 26pt;
}
